body {
  background: rgba(246, 187, 33, 0.8) url(./images/yellow-umbrella.jpg)
    no-repeat;
  background-size: 100%;
  font-family: 'Playfair Display', serif;
}

main {
  background: #fafafa;
  border-radius: 4px;
  box-shadow: 8px 10px 25px 0 rgba(128, 128, 128, 0.44);
  min-width: 320px;
  max-width: 600px;
  margin: 36px;
  padding: 4px 32px 32px;
}

h1,
h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h2 {
  text-align: left;
}

p {
  font-size: 17px;
  line-height: 1.5em;
}

img {
  border: #fafafa;
  border-radius: 4px;
  box-shadow: 4px 4px 14px rgba(128, 128, 128, 0.4);
  width: 100%;
}

a {
  color: #174e7c;
  display: block;
  font-weight: 700;
  margin-top: auto;
  text-align: right;
  text-decoration: none;
}
